* {
    margin: 0;
}

body {
    background: #eee
}

fieldset {
    background-color: #fff
}

legend {
    background-color: #515f9c;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
}

section {
    color: black;
    margin-top: 80px;
    width: 40%;
    margin-left: 400px;
}

input {
    display: block;
}